################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs
/Ejercicio2/bin
/Ejercicio2/obj
/Clase04/bin
/Clase04/obj
/Clase05/bin
/Clase05/obj
